@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Work Sans", system-ui, sans-serif !important;
  }


}
  /* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

